<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
  
<configuration>
    <!-- 기본적인 설정 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 다른 설정들 -->
    </settings>


    <!-- 매퍼 파일 위치 설정 -->
    <mappers>
        <mapper resource="mapper/friendList_mapper.xml"/>
        <mapper resource="mapper/user_mapper.xml"/>
    </mappers>
</configuration>