<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.message.chatDao.ChatDao">

		<insert id="chatSend">
			insert into chat (content, chatDtm, chatRoomNo,userNo, sendUserNo)
			values (#{content},
				SYSDATE(),
				(select chatRoomNo from chatRoom where (userNo = #{getUserNo} and sendUserNo = #{sendUserNo}) OR (userNo = #{sendUserNo} AND sendUserNo = #{getUserNo})),
				#{getUserNo},
				#{sendUserNo})
		</insert>
		
		<select id="chatRoom" resultType="int" parameterType="int">
			SELECT IFNULL(
			    (SELECT chatRoomNo 
			     FROM chatRoom 
			     WHERE (userNo = #{getUserNo} AND sendUserNo = #{sendUserNo}) OR (userNo = #{sendUserNo} AND sendUserNo = #{getUserNo})
			     LIMIT 1), 
			    0
			) AS chatRoomNo
		</select>
		
		<insert id="createRoom" parameterType="int">
			insert into chatRoom (createDtm, userNo, sendUserNo, chatName) 
			values (SYSDATE(), 
				   #{getUserNo},
				   #{sendUserNo},
				   (select nickName from profile where userNo = #{getUserNo}))
		</insert>
		
		<select id="chatList" resultType="com.example.message.chatDto.ChatDto" parameterType="int">
			select c.* ,p1.nickName as getUserName,p2.nickName as sendUserName  
			from chat c, profile p1 , profile p2 
			where chatRoomNo = #{chatRoomNo}
			and c.userNo = p1.userNo 
			and c.sendUserNo = p2.userNo
		</select>
		
		<select id="findChatRoom" resultType="int" parameterType="int">
			SELECT IFNULL(
			    (SELECT chatRoomNo 
			     FROM chatRoom 
			     WHERE (userNo = #{getUserNo} AND sendUserNo = #{sendUserNo}) OR (userNo = #{sendUserNo} AND sendUserNo = #{getUserNo})
			     LIMIT 1), 
			    0
			) AS chatRoomNo
		</select>
		
		<select id="chatRoomList" resultType="com.example.message.chatDto.ChatDto" parameterType="int">
			WITH RankedChat AS (
			  SELECT
			    c.chatRoomNo,
			    c.content,
			    c.chatDtm,
			    p.nickname,
			    p.imgPath, 
			    p.userNo, 
			    (select count(*) from chat where readYn = 'N' and userNo = #{userNo} and chatRoomNo = c.chatRoomNo ) as readYn,
			    c.sendUserNo, 
			    ROW_NUMBER() OVER (PARTITION BY c.chatRoomNo ORDER BY c.chatDtm DESC) AS rn
			  FROM
			    chatroom cr
			    JOIN chat c ON c.chatRoomNo = cr.chatRoomNo
			    JOIN profile p ON p.userNo = c.UserNo
			  WHERE
			    cr.userNo = #{userNo} OR cr.sendUserNo = #{userNo}
			)
			SELECT
			  chatRoomNo,
			  content,
			  chatDtm,
			  nickname,
			  imgPath,
			  userNo,
			  readYn,
			  sendUserNo
			FROM
			  RankedChat
			WHERE
			  rn = 1
			ORDER BY
			  chatDtm DESC
		</select>
		
		<update id="chatRead" parameterType="int">
			update chat set
			readYn = "Y"
			where chatRoomNo = #{chatRoomNo} and
			userNo = #{userNo}
		</update>
		
		<select id="roomFind" resultType="com.example.message.chatDto.ChatDto" parameterType="int">
		SELECT chatRoomNo,userNo, sendUserNo  FROM chatRoom
		WHERE userNo = #{userNo} or sendUserNo = #{userNo}
	</select>
		

</mapper>                                